/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /* Переменные, значения которых задают ту или другую тему */
  --background-image: url('../images/cover-image-dark.png'); /* фоновое изображение */
  --background-color: #000028; /* главный цвет фона страницы */
  --header-title-color: #db00ff; /* цвет самого главного заголовка в header и в footer */
  --title-shadow-color: #ff0070; /* цвет тени крупного заголовка, есть нюансы */
  --header-additional-color: #ff0070; /* еще один цвет для header - рамка, надпись REC. Он же для футера */
  --header-button-outline-color: rgba(
    255,
    0,
    112,
    0.4
  ); /* цвет outline кнопки при hover */
  --decor-text-baсkground-color: #ff0070; /* фон особого текста (обычно рядовых заголовков) */
  --decor-text-color: #000028; /* цвет особого текста (обычно рядовых заголовков) */
  --main-title-color: #ff0070; /* цвет главного заголовка в основном разделе */
  --main-text-color: #f1b2ce; /* основной цвет текста главного раздела */
  --main-url-shadow-color: #ff0070; /* цвет тени от ссылки */
  --REC-display: flex; /* показывать ли надпись REC* */
}
