/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Переменные с одинаковым значением для обоих тем   */
  --font-family: 'IBM Plex Mono', Arial, serif; /* Основной шрифт */
  --font-size: 18px; /* основной размер шрифта */
  --line-height: 1.3; /* основная высота строки */
  --menu-gap: 10px; /* расстояение между кнопками элементами меню */
  --margin-page: 10px; /* поля слева-справа для всей странице, и сверху-снизу для header/footer */
  --section-gap: 50px; /* расстояния между секциями */
  --subsection-gap: 20px; /* расстояние между подразделами одной секции */
  --article-title-text-gap: 10px; /* расстояние между заголовком статьи и статьей */
}
